<!doctype HTML>
<html>
    <head>
        <title>Badge claimer - Auth</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h2>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {% if category == "danger" %}
                            <strong>error: </strong> {{ message }}
                        {% else %}
                            <strong>{{ category }}: </strong> {{ message }}
                        {% endif %}
                    </div>
                </h2>
                {% else %}
                <br />
                {% endfor %}

                <h1>Enter the auth password</h1>
                <form action="/" method="POST">
                    <div class="row">
                        <div class="col-md-2">
                            Password:
                        </div>
                        <div class="col-md-4">
                            <input name="password" type="password" autofocus><br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <input class="btn btn-primary" type="submit" value="auth">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
